# http://www.gnu.org/software/automake
src/.deps/*
Makefile
Makefile.in
src/freevic
src/freevic.o

# http://www.gnu.org/software/autoconf
config.h.in~
m4
aclocal.m4
autom4te.cache
depcomp
missing
stamp-h1
configure
config.h.in
